<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aun en desarrollo</title>
    <link rel="stylesheet" href="  static/css/prueba.css" />
  </head>
  <body>
    <section>
      <div class="scroll" style="--d: 25; --y: 200">
        <div>
          <span>Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo</span>
        </div>

        <div>
          <span>Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo</span>
        </div>
      </div>

      <div class="scroll" style="--d: -25; --y: 400">
        <div>
          <span>Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo</span>
        </div>

        <div>
          <span>Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo</span>
        </div>
      </div>

      <div class="scroll" style="--d: 15; --y: 500">
        <div>
          <span>Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo</span>
        </div>

        <div>
          <span>Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo</span>
        </div>
      </div>

      <div class="scroll" style="--d: -5; --y: 50">
        <div>
          <span>Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo</span>
        </div>

        <div>
          <span>Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo</span>
        </div>
      </div>

      <div class="scroll" style="--d: -15; --y: -350">
        <div>
          <span>Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo</span>
        </div>

        <div>
          <span>Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo - Aun en desarrollo</span>
        </div>
      </div>
      <div class="letra">
        <a href="/"><h2 class="neon">BETA.0.0.01</h2></a>
      </div>
    </section>
  </body>
</html>
